extends base

block content
  // If you don't enter an action,
  // the browser will send a POST request to the same URL.
  form(method='POST')
    input(
      placeholder='Name',
      name='name',
      type='text',
      required,
      value=loggedInUser.name
    )
    input(
      placeholder='Email',
      name='email',
      type='email',
      required,
      value=loggedInUser.email
    )
    input(
      placeholder='Username',
      name='username',
      type='text',
      required,
      value=loggedInUser.username
    )
    input(
      placeholder='Location',
      name='location',
      type='text',
      required,
      value=loggedInUser.location
    )
    // I excluded passwords because some users don't have them.
    input(type='submit', value='Update Profile')
