extends ../base

block content
  form(method='post') 
    |
    |
    input(
      placeholder='Old Password',
      name='oldPassword',
      type='password',
      required
    )
    input(
      placeholder='New Password',
      name='newPassword',
      type='password',
      required
    )
    input(
      placeholder='New Password Confirm',
      name='verifyPassword',
      type='password',
      required
    )
    input(type='submit', value='Change Password')
